.data-container {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.data-container__header {
  margin-top: 2rem;
  margin-bottom: 2.2rem;
}

.data-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2rem;
  grid-template-areas:
    ". . . ."
    ". . . .";
}

.data-list__item {
  padding: 2rem;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.data-list__item-about {
  margin-bottom: 1rem;
}

.data-list__item-about h3 {
  color: #5b7989;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.data-list__item-data {
  display: flex;
  justify-content: space-between;
}

.data-list__item-data h3 {
  font-size: 32px;
  font-weight: 500;
  color: #27485c;
}

@media only screen and (max-width: 950px) {
  .data-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
}

@media only screen and (max-width: 730px) {
  .data-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". .";
  }
}

@media only screen and (max-width: 520px) {
  .data-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      ".";
  }
}
