.forecast-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forecast-container__current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-container__current__date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.forecast-container__current__temp {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--main-color);
  font-size: 40px;
}

.forecast-container__current__place h2 {
  color: var(--main-color);
  font-weight: 400;
}

.forecast-container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-container__current__date__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.forecast-container__current__date__day h3 {
  margin-bottom: 0.5rem;
  font-size: 24px;
  font-weight: 400;
}

.forecast-container__current__date__day p {
  font-size: 14px;
}

@media only screen and (max-width: 1030px) {
  .forecast-container {
    flex-direction: column;
  }

  .forecast-container__current {
    margin: 2rem 0 3rem;
  }

  .forecast-container__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .forecast-container__list {
    justify-content: center;
  }
}